<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.thunderst.radio"
      android:versionCode="1"
      android:versionName="1.0">

<permission android:name="android.permission.ACCESS_FM_RECEIVER"
        android:permissionGroup="android.permission-group.NETWORK"
        android:protectionLevel="normal" />

    <!-- android:sharedUserId="android.media" -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /-->

    <application android:icon="@drawable/icon_radio" android:label="@string/app_name">
    	<activity android:name=".FMPlay"
                  android:theme="@android:style/Theme.Black.NoTitleBar"
                  android:label="@string/app_name"
                  android:launchMode="standard"
                  android:screenOrientation="portrait">
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.thunderst.radio.RADIO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".StationSearch"
                  android:label="@string/app_name"
                  android:theme="@style/Theme.Translucent"
                  android:launchMode="singleTop"
                  android:screenOrientation="portrait"/>

        <activity android:name=".FMPlayList"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"/>

        <activity android:name=".EditStationList"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"/>

        <service android:name=".FMplayService" android:exported="true">
            <intent-filter>
                <action android:name="com.thunderst.radio.service.RADIO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </service>

        <receiver android:name="AlertReceiver">
            <intent-filter>
                <action android:name="android.intent.action.EVENT_REMINDER" />
                <action android:name="com.android.mms.SMS_PALY_START"/>
                <action android:name="com.android.audiopreview.start"/>
                <action android:name="com.android.audiopreview.pause"/>
                <data android:scheme="content" />
            </intent-filter>
        </receiver>

    </application>

	<supports-screens android:largeScreens="true"

       android:normalScreens="true" android:anyDensity="true"

       android:smallScreens="true"></supports-screens>
</manifest>
