import init.sc8825.usb.rc

on init
    export EXTERNAL_STORAGE /mnt/sdcard
    export SECONDARY_STORAGE /mnt/internal
    #0 for nand,1 for Emmc, 2 for sdcard
    export SECOND_STORAGE_TYPE 0
# pipe
    mkdir /dev/pipe 0755 system system
    pipe 666 /dev/pipe/ril.audio.0
    pipe 666 /dev/pipe/ril.audio.1
    pipe 666 /dev/pipe/ril.audio.2
    pipe 666 /dev/pipe/ril.audio.3
    pipe 666 /dev/pipe/mmi.audio.ctrl
    pipe 666 /dev/pipe/ipc.0.0
    pipe 666 /dev/pipe/ipc.0.1
    pipe 666 /dev/pipe/ipc.1.0
    pipe 666 /dev/pipe/ipc.1.1
# radio pipe
    mkdir /dev/rpipe 0550 radio radio
    pipe 666 /dev/rpipe/ril.vt.0
    pipe 666 /dev/rpipe/ril.vt.1
    pipe 666 /dev/rpipe/ril.vt.2

    mkdir /mnt/sdcard 0000 system system
    symlink /mnt/sdcard /sdcard
    mkdir /mnt/internal 0000 system system
    symlink /mnt/internal /internal

on post-fs
    insmod /system/lib/modules/ump.ko
    insmod /system/lib/modules/mali.ko
    insmod /system/lib/modules/kernel/kernel/sound/drivers/snd-dummy.ko enable=1 pcm_devs=2 pcm_substreams=1 id=snddummy
    setprop ro.crypto.fuse_sdcard true

on post-fs-data
    symlink /system/opl /opl
    mkdir /data/misc/vpn/profiles 0770 system system
    mkdir /data/misc/sensors 0777 system system

    # we will remap this as /mnt/internal with the sdcard fuse tool
    mkdir /data/media 0775 media_rw media_rw
    chown media_rw media_rw /data/media

on boot
    chown system system /sys/class/backlight/sprd_backlight/brightness

    chmod 660 /proc/nk/resume
    chmod 660 /proc/nk/restart
    chmod 660 /proc/nk/guest-02/dsp_bank
    chmod 660 /proc/nk/guest-02/guestOS_2_bank
    chmod 660 /proc/mtd
    chown system root /proc/nk/resume
    chown system root /proc/nk/restart
    chown system root /proc/nk/guest-02/dsp_bank
    chown system root /proc/nk/guest-02/guestOS_2_bank
    chown system root /proc/mtd

    chown system system /sys/class/power_supply/*

    insmod /system/lib/modules/ft5306_ts.ko

    chmod 666 /dev/ttyS0
    chmod 666 /proc/bluetooth/sleep/proto
    chmod 660 /sys/class/rfkill/rfkill0/state
    chmod 660 /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type

    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/system 0770 system system
    mkdir /etc/wifi 0770 wifi wifi
    mkdir /data/system/wpa_supplicant 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    setprop wifi.interface wlan0

on property:ro.debuggable=1
    mount debugfs debugfs /sys/kernel/debug
#    start logs4android
#    start logs4modem

on property:ro.nativemodem=true
    symlink /dev/slog_td /dev/vbpipe0
    symlink /dev/spipe_td1 /dev/vbpipe1
    symlink /dev/spipe_td2 /dev/vbpipe2
    symlink /dev/spipe_td3 /dev/vbpipe3
    symlink /dev/spipe_td6 /dev/vbpipe6

service logs4android /system/bin/logwrapper /system/xbin/logs4android.sh
    class main
    disabled


service logs4modem /system/bin/logwrapper /system/xbin/logs4modem.sh
    class main
    disabled

service slog /system/bin/slog
    class main
    user root
#service modem_control /system/bin/logwrapper /modem_control
service modem_control /modem_control
    class core
    user root
    oneshot
on property:lmk.autocalc=false
    setprop ro.LMK_SLOT0_ADJ 0
    setprop ro.LMK_SLOT1_ADJ 1
    setprop ro.LMK_SLOT2_ADJ 2
    setprop ro.LMK_SLOT3_ADJ 4
    setprop ro.LMK_SLOT4_ADJ 9
    setprop ro.LMK_SLOT5_ADJ 15
    setprop ro.LMK_SLOT0_MINFREE 4096
    setprop ro.LMK_SLOT1_MINFREE 16384
    setprop ro.LMK_SLOT2_MINFREE 24576
    setprop ro.LMK_SLOT3_MINFREE 32768
    setprop ro.LMK_SLOT4_MINFREE 38428
    setprop ro.LMK_SLOT5_MINFREE 45776

    write /sys/module/lowmemorykiller/parameters/adj 0,1,2,4,9,15
    write /sys/module/lowmemorykiller/parameters/minfree 1024,4096,6144,8192,9607,11444

on property:zram.support=true
    setprop zram.disksize 180
    setprop sys.vm.swappiness 100
    service zram /system/xbin/zram.sh
        class main
        oneshot

###############################################################
# redirect logs(LOGE, LOGI...) to linux console
###############################################################
service logcat /system/bin/logcat -f /dev/kmsg *:W
    disabled
    oneshot

#####################################
###### calibration mode #############
#####################################
service calibration /system/bin/calibration
    user root
    oneshot
    console

#start rawdata daemon.
service rawdatad /bin/rawdatad
    class core
    user system
    oneshot

#start nvitem daemon.
service nvm_daemon /system/bin/nvm_daemon
    class core
    user system
    group system radio shell
    oneshot

service modemd /system/bin/modemd
    class core
    user system
    group system radio shell
    oneshot

service engpcclient /system/bin/engpcclient
    class core
    user system
    group system radio shell
    disabled
    oneshot

service engservice /system/bin/engservice
    class core
    user system
    group system
    disabled
    oneshot

service engmodemclient /system/bin/engmodemclient
    class core
    user system
    group system radio
    disabled
    oneshot

service engsetmacaddr /system/bin/engsetmacaddr
    class main
    user system
    oneshot

service phoneserver_vlx /system/bin/phoneserver -m vlx
    class core
    user root
    group radio system shell
    disabled
    oneshot

service phoneserver_t /system/bin/phoneserver -m t
    class core
    user root
    group radio system shell
    disabled
    oneshot

service phoneserver_w /system/bin/phoneserver -m w
    class core
    user root
    group radio system shell
    disabled
    oneshot

service charge /bin/charge
    class charger
    user root
    oneshot

#mcom monitor
service mcom_monitor /system/bin/mcom_monitor
    class main
    user root
    oneshot

#vlx rild service
service ril-daemon /system/bin/rild_sp -l /system/lib/libreference-ril_sp.so -m vlx -n 0
    class core
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    disabled
    user root
    group radio cache inet misc audio sdcard_rw log

service ril-daemon1 /system/bin/rild_sp -l /system/lib/libreference-ril_sp.so -m vlx -n 1
    class core
    socket rild1 stream 660 root radio
    socket rild-debug1 stream 660 radio system
    disabled
    user root
    group radio cache inet misc audio sdcard_rw log

#td rild service
service tril-daemon /system/bin/rild_sp -l /system/lib/libreference-ril_sp.so -m t -n 0
    class core
    socket trild stream 660 root radio
    socket trild-debug stream 660 radio system
    disabled
    user root
    group radio cache inet misc audio sdcard_rw log

service tril-daemon1 /system/bin/rild_sp -l /system/lib/libreference-ril_sp.so -m t -n 1
    class core
    socket trild1 stream 660 root radio
    socket trild-debug1 stream 660 radio system
    disabled
    user root
    group radio cache inet misc audio sdcard_rw log

#wcdma rild service
service wril-daemon /system/bin/rild_sp -l /system/lib/libreference-ril_sp.so -m w -n 0
    class core
    socket wrild stream 660 root radio
    socket wrild-debug stream 660 radio system
    disabled
    user root
    group radio cache inet misc audio sdcard_rw log

service wril-daemon1 /system/bin/rild_sp -l /system/lib/libreference-ril_sp.so -m w -n 1
    class core
    socket wrild1 stream 660 root radio
    socket wrild-debug1 stream 660 radio system
    disabled
    user root
    group radio cache inet misc audio sdcard_rw log

service bootsound /system/bin/mplayer /system/media/bootsound
    user media
    group audio
    oneshot

service startupsound /system/bin/mplayer /system/media/startupsound
    user media
    group audio
    disabled
    oneshot

# create virtual SD card at /mnt/sdcard, based on the /data/media directory
# daemon will drop to user/group system/media_rw after initializing
# underlying files in /data/media will be created with user and group media_rw (1023)
service sdcard /system/bin/sdcard /data/media 1023 1023 /mnt/internal
    class late_start

service shutdownsound /system/bin/mplayer /system/media/shutdownsound
    user media
    group audio
    disabled
    oneshot

service hfag /system/bin/sdptool add --channel=10 HFAG
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service hsag /system/bin/sdptool add --channel=11 HSAG
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service opush /system/bin/sdptool add --channel=12 OPUSH
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service pbap /system/bin/sdptool add --channel=19 PBAP
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service akmd /system/bin/akmd8963 -m 4
    class main
    oneshot

#start mtvserver service for siano cmmb
service mtvserver /system/bin/mtvserver
    class main
    user root

#start  service for mxd cmmb
service mxdcmmbserver /system/bin/mxdcmmbserver
    class main
    user root

service hciattach /system/bin/logwrapper /system/bin/hciattach -n /dev/ttyS0 rtk_h5 3000000
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant \
    -Dnl80211 -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf -dd
    group system wifi inet keystore
    socket wpa_wlan0 dgram 660 wifi wifi
    class main
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    group system dhcp
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -ABKL
    group system dhcp
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    group system dhcp
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    group system dhcp
    disabled
    oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -ABKL
   class main
   disabled
   oneshot

service iprenew_bnep0 /system/bin/dhcpcd -n
   class main
   disabled
   oneshot

service calibrationinit /system/bin/calibration_init
    class main
    oneshot

service preloadapp /system/bin/logwrapper /system/xbin/preloadapp.sh
    user system
    class main
    disabled
    oneshot

on boot
    chown system system /dev/vbpipe3
    chown system system /sys/class/power_supply/usb/online
    chown system system /sys/class/power_supply/ac/online
    chown system system /sys/class/power_supply/battery/battery_0
    chown system system /sys/class/power_supply/battery/battery_1

    chown system system /sys/class/compass/akm8963/enable_acc
    chown system system /sys/class/compass/akm8963/enable_mag
    chown system system /sys/class/compass/akm8963/enable_ori
    chown system system /sys/class/compass/akm8963/delay_acc
    chown system system /sys/class/compass/akm8963/delay_mag
    chown system system /sys/class/compass/akm8963/delay_ori
    chown system system /sys/class/compass/akm8963/accel

    insmod /system/lib/modules/ltr_558als.ko
    chown system system /dev/ltr_558als
    chmod 0666 /dev/ltr_558als

#create symlink
service smd_symlink /system/bin/ext_symlink.sh -u
    user root
    disabled
    oneshot

#data on
service data_on /system/bin/ext_data.sh  -u
    user root
    disabled
    oneshot

#data off
service data_off /system/bin/ext_data.sh  -d
    user root
    disabled
    oneshot

#kill app
service kill_phone /system/bin/ext_kill.sh  -m
    user root
    disabled
    oneshot

#change owner
service chown_service /system/bin/ext_chown.sh  -c
    class main
    user root
    oneshot

#set mac addr
service set_mac /system/bin/ext_chown.sh  -e
    user root
    disabled
    oneshot

