<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.broadcom.btPowerManagerReg"
  android:sharedUserId="android.uid.system">

    <original-package android:name="com.broadcom.btPowerManagerReg" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application>
        <uses-library android:name="com.broadcom.bt.service" />
        <service
            android:process="@string/process"
            android:name="BtPowerManagerRegService" >
        </service>

        <receiver
            android:name="BtPowerManagerRegReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
