<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.broadcom.bt.app.fm"
      android:versionCode="1"
      android:versionName="1.0.0"
      android:minSdkVersion="5">
	<!-- Allows applications to connect to the FM receiver
    @hide -->
    <permission android:name="android.permission.ACCESS_FM_RECEIVER"
        android:permissionGroup="android.permission-group.NETWORK"
        android:protectionLevel="normal"
        android:description="@string/permdesc_fm_receiver"
        android:label="@string/permlab_fm_receiver" />
    <uses-permission android:name="android.permission.ACCESS_FM_RECEIVER" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <application android:name="com.broadcom.bt.service.fm.FmServiceManager" android:persistent="true" android:icon="@drawable/icon" android:label="@string/app_name">
    <uses-library android:name="com.broadcom.bt.service" />
    <activity android:name=".rx.FmRadio"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:screenOrientation="portrait"
                  android:launchMode="singleInstance"
                  android:clearTaskOnLaunch="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".rx.FmRadioSettings"
            android:label="@string/settings_label"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:clearTaskOnLaunch="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEVELOPMENT_PREFERENCE" />
            </intent-filter>
        </activity>
        <activity android:name=".rx.SeekStation"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:screenOrientation="portrait"/>

        <activity android:name=".rx.StationList"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:screenOrientation="portrait"/>

        <provider android:name=".rx.FakeProvider"  android:authorities="fake"></provider>

        <service android:name=".system.FmService" android:exported="true">
        </service>
</application>
</manifest>
