import init.sc8825.usb.rc

on early-init
    export EXTERNAL_STORAGE /storage/sdcard0
    export SECONDARY_STORAGE /storage/sdcard1
    mkdir /storage 0050 system sdcard_r
    mkdir /storage/sdcard0 0000 system system
    mkdir /storage/sdcard1 0000 system system
    # for backwards compatibility
    symlink /storage/sdcard0 /sdcard
    symlink /storage/sdcard0 /mnt/sdcard

on fs
    mount_all /fstab.sc8825
    setprop ro.crypto.fuse_sdcard true

on post-fs
    insmod /system/lib/modules/ump.ko
    insmod /system/lib/modules/mali.ko

on post-fs-data
    # we will remap this as /storage/sdcard0 with the sdcard fuse tool
    mkdir /data/media 0770 media_rw media_rw
    chown media_rw media_rw /data/media

    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

on boot
    chown system system /sys/class/backlight/sprd_backlight/brightness

    chown system system /sys/class/compass/akm8975/enable_acc
    chown system system /sys/class/compass/akm8975/enable_mag
    chown system system /sys/class/compass/akm8975/enable_ori
    chown system system /sys/class/compass/akm8975/delay_acc
    chown system system /sys/class/compass/akm8975/delay_mag
    chown system system /sys/class/compass/akm8975/delay_ori
    chown system system /sys/class/compass/akm8975/accel

on property:ro.debuggable=1
    mount debugfs debugfs /sys/kernel/debug

# create virtual SD card at /storage/sdcard0, based on the /data/media directory
# daemon will drop to user/group system/media_rw after initializing
# underlying files in /data/media will be created with user and group media_rw (1023)
service sdcard /system/bin/sdcard /data/media 1023 1023
    class late_start

service akmd /system/bin/akmd8975 -m 3
    class main
    oneshot

service slog /system/bin/slog
    class main
    user root
